<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleExecutable</key>
    <string>clipper</string>
    <key>CFBundleIdentifier</key>
    <string>com.mtesch.CCClipper</string>
    <key>CFBundleName</key>
    <string>CCClipper</string>
    <key>CFBundleIconFile</key>
    <string>CCClipper</string>
    <key>LSUIElement</key>
    <true/>
</dict>
</plist>
